@media (max-width:820px){
    main{
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .esquerda{
        width: 300px;
    }
    .direita{
        width: 350px;
    }
}
@media (max-width:650px){
    .esquerda{
        width: 250px;
    }
    .direita{
        width: 300px;
    }
    ul p{
        font-size: 16px;
        margin-left: 20px;
    }
    span{
        margin-left: 20px;
    }
    .reaction{
        display: inline;
    }
    .memory{
        display: inline;
    }
    .verbal{
        display: inline;
    }
    .visual{
        display: inline;
    }
}
@media (max-width:450px){
    ul p{
        font-size: 14px;
        margin-left: 20px;
    }
    ul{
        margin-bottom: 10px;
        margin-right: 10px;
    }
    li{
        padding-left: 30px;
        padding: 5px;

    }
    .reaction{
        display: inline;
    }
    .memory{
        display: inline;
    }
    .verbal{
        display: inline;
    }
    .visual{
        display: inline;
    }
    span{
        margin-left: 25px;
    }
    .esquerda{
        height: 400px;
    }
    .direita{
        height: 400px;
    }
    .vitrine{
        width: 100px;
        height: 100px;
    }
    .destaque{
        font-size: 2em;
        margin-top: 25px;
    }
    .secundario p {
        font-size: 14px;
    }
    h2{
        font-size: 16px;
    }
    h1{
        font-size: 16px;
    }
    p.texto{
        width: 150px;
    }
    .direita a{
        width: 140px;
    }
}
@media (max-width:375px){
    main{
        flex-direction: column;
        margin-left: 0px;

    }
    h2{
        font-size: 16px;
    }
    h1{
        font-size: 22px;
    }
    li{
        padding: 10px;
        width: 270px;
        margin-right: 50px;
        margin-bottom: 10px;
    }
    ul p{
        font-size: 14px;

    }
    ul{
        padding: 15px;
    }
    p.texto{
        font-size: 14px;
        width: 260px;
        margin-bottom: 40px;
    }
    .esquerda{
        border-radius: 0px 0px 30px 30px;
        margin-top: 190px;
        width: 100vw;
    }
    .vitrine{
        width: 150px;
        height: 150px;
        margin-top: 20px;
    }
    .destaque{
        font-size: 3em;
        margin-top: 30px;
    }
    .secundario p {
        font-size: 14px;
    }
    .attribution{
        margin-top: 260px;
    }
    .sumario{
        font-size: 1.3em;
    }
    .reaction{
        display: flex;
        justify-content: space-between;
        color: hsl(0, 100%, 67%);
        background-color: hsl(0, 100%, 97%);
    }
    .memory{
        display: flex;
        justify-content: space-between;
        color: hsl(39, 100%, 56%);
        background-color: hsl(39, 100%, 97%);
    }
    
    .verbal{
        display: flex;
        justify-content: space-between;
        color: hsl(166, 100%, 37%);
        background-color: hsl(166, 100%, 97%);
    }
    
    .visual{
        display: flex;
        justify-content: space-between;
        color: hsl(234, 85%, 45%);
        background-color: hsl(234, 100%, 97%);
    }
    .direita a{
        width: 270px;
        margin-left: 20px;
    }
    

}